
<%= wechat_config_js debug: false, api: %w(hideMenuItems closeWindow) -%>


<div class="ui container">
  <div class="ui grid">
    <div class="sixteen wide column" style="padding:0px">
      <img class="ui fluid image" src="/images/bg_h<%= "#{@activity.id}"%>.png">
    </div>
    <% if(@activity.id == 2)%>
      <div class="sixteen wide column" style="background-image: url('/images/bg_f2.png')">
    <%else%>
      <div class="sixteen wide column" style="padding:0px;background-color: #e6e6e6;">
    <%end%>

      <% @activity.kinds.each do|item|%>
        <%if @received_cards.include?(item)%>
          <img class="ui fluid image" style="padding: 100px 20px" src="<%= "/images/#{item}d.png"%>">
        <%else%>
          <img class="ui fluid image xd_card" style="padding: 100px 20px" data-kind="<%= "#{item}"%>" data-activity="<%= "#{@activity.id}"%>" src="<%= "/images/#{item}.png"%>">
        <%end%>
      <% end %>
    </div>
    <div class="sixteen wide column" style="padding:0px">
      <img class="ui fluid image" src="/images/bg_f<%= "#{@activity.id}"%>.png">
    </div>
  </div>
</div>

<div class="js_dialog" id="notice" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd receive_notice">好的</div>
        <div class="weui-dialog__ft">
            <a href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary">好的</a>
        </div>
    </div>
</div>


