<% items = [
  "儿牙诊疗代金券",
  "修复诊疗代金券",
  "种植诊疗代金券",
  "矫正诊疗代金券",
  "美白诊疗代金券",
]
%>
<%= wechat_config_js debug: false, api: %w(hideMenuItems closeWindow addCard) -%>


<div class="ui container ">
  <div class="ui grid">
    <div class="sixteen wide column" style="padding:0px">
      <img class="ui fluid image" src="/images/bg_h.png">
    </div>
    <div class="sixteen wide column">
      <a href="#er">
        <img class="ui fluid image" src="/images/er.png">
      </a>
      <a href="#mb">
        <img class="ui fluid image" src="/images/mb.png">
      </a>
      <a href="#xf">
        <img class="ui fluid image" src="/images/xf.png">
      </a>
      <a href="#zj">
        <img class="ui fluid image" src="/images/zj.png">
      </a>
      <a href="#zz">
        <img class="ui fluid image" src="/images/zz.png">
      </a>
    </div>
    <div class="sixteen wide column" style="padding:0px">
      <img class="ui fluid image" src="/images/bg_f.png">
    </div>
  </div>



</div>



<script type="application/javascript">
  wx.ready(function() {
    wx.hideOptionMenu();
    document.querySelector('.card0').onclick = function(){
        wx.addCard({
          cardList:[
            {
              cardId: '<%= @eycard[:card_id]%>',
              cardExt: '{"timestamp":"<%=  @eycard[:timestamp] %>","signature":"<%= @eycard[:signature] %>","nonce_str":"<%= @eycard[:noncestr] %>"}',
            }
          ],
          success: function (res) {
            alert('add' + JSON.stringify(res.cardList));
          },
          fail: function(res){
            alert("sb"+JSON.stringify(res))
          }
        });
    }
    document.querySelector('.card1').onclick = function(){
        wx.addCard({
          cardList:[
            {
              cardId: '<%= @xfcard[:card_id]%>',
              cardExt: '{"timestamp":"<%=  @xfcard[:timestamp] %>","signature":"<%= @xfcard[:signature] %>","nonce_str":"<%= @xfcard[:noncestr] %>"}',
            }
          ],
          success: function (res) {
            alert('add' + JSON.stringify(res.cardList));
          },
          fail: function(res){
            alert("sb"+JSON.stringify(res))
          }
        });
    }
    document.querySelector('.card2').onclick = function(){
        wx.addCard({
          cardList:[
            {
              cardId: '<%= @zzcard[:card_id]%>',
              cardExt: '{"timestamp":"<%=  @zzcard[:timestamp] %>","signature":"<%= @zzcard[:signature] %>","nonce_str":"<%= @zzcard[:noncestr] %>"}',
            }
          ],
          success: function (res) {
            alert('add' + JSON.stringify(res.cardList));
          },
          fail: function(res){
            alert("sb"+JSON.stringify(res))
          }
        });
    }
    document.querySelector('.card3').onclick = function(){
        wx.addCard({
          cardList:[
            {
              cardId: '<%= @jzcard[:card_id]%>',
              cardExt: '{"timestamp":"<%=  @jzcard[:timestamp] %>","signature":"<%= @jzcard[:signature] %>","nonce_str":"<%= @jzcard[:noncestr] %>"}',
            }
          ],
          success: function (res) {
            alert('add' + JSON.stringify(res.cardList));
          },
          fail: function(res){
            alert("sb"+JSON.stringify(res))
          }
        });
    }
    document.querySelector('.card4').onclick = function(){
        wx.addCard({
          cardList:[
            {
              cardId: '<%= @mbcard[:card_id]%>',
              cardExt: '{"timestamp":"<%=  @mbcard[:timestamp] %>","signature":"<%= @mbcard[:signature] %>","nonce_str":"<%= @mbcard[:noncestr] %>"}',
            }
          ],
          success: function (res) {
            alert('add' + JSON.stringify(res.cardList));
          },
          fail: function(res){
            alert("sb"+JSON.stringify(res))
          }
        });
    }
  });

</script>